* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

body{
    text-decoration: none;
    font-family: 'Dancing Script', cursive; 
    background-color: rgb(26, 9, 50);   
}

/*header IMPORTANTE*/
header{
    display: flex;
    justify-content: space-between;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    background-color: rgb(0, 0, 44);
    align-items: center;
    width: 100%;
    height: 100%;
}


/*imagen de portada*/
.PortadaDePagina{
    width: 6em;
    height: 6em;
    margin: 0px;
}
/* Div del titulo y imagen de la portada de la pagina */
.DivTituloPrincipal{
    display: flex;
    height: 6em;
    width: 30rem;
    align-items: center;
    text-decoration: none;
    font-size: 10px;
    color: white;
    margin: 0px;
}
.flex-titulo{
    display: flex;
    text-decoration: none;
    color: white;

}
a{
    color: white;
    text-decoration: none;
}


nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 700;
    padding-right: 27px;
    font-size: 1.5rem;
    color: white;
    
}

h1{
    align-items: center;
    text-decoration: none;
    font-size: 5em;
}
a:hover{
    color: rgb(13, 13, 228);
    transition: 0.7s;
}
.derechaNav{
    display: flex;
}
/* CARD DE LOS PERFUMES */
main{
    padding: 20px;
   
    display: grid;
    grid-template-columns: auto auto auto auto ;
    width: 100%;
    height: 100%;
    
    
    
}
h2{
    cursor: pointer;
    color: white;
    display: flex;
}
/* cartas de los productos (perfumes) */
.card_perfume{
    width: 15rem;
    background-color: rgb(0, 1, 14);
    height: 22rem;
    border-radius: 20px;
    border: 2px solid rgb(84, 136, 169);
    overflow: hidden;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 20px;
}
.imagen_card{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.div_img{
    height: 12rem;
}
.Titulo_perfume{
    text-align: center;
}
.div_parrafo{
    padding: 5px;
    height: 35%;
    margin-bottom: 0px;
}

.card_perfume:hover{
    transform: scale(1.08);
    transition: 1s;
}
p{
    color: white;
    font-size: 20px;
}
.darkmode {
    background-color: white;
}
